<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The 'Tendo Times-Your one-stop shop for articles from nintendoeverything.com</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/kongtext-css/stylesheet.css />
</head>
<body>
    {{{body}}}
</body>
</html>