.header {
    background-image: url("./../images/header.jpg");
    background-size: 90vw 60vh;
    background-repeat: no-repeat;
    font-family: "kongtextregular";
}

.jumboTitle {
    font-size: 48px;
}

.jumboText {
    width: 57vw;
}

.newsCart {
    background-image: url(../images/NES-Cartridge.jpg);
}

.save {
    font-family: "kongtextregular";
    font-size: 14px;
    float: right;
    color: white !important;
}

.noArticleText {
    font-family: "kongtextregular";
    font-size: 18px;
    color: white;
    background-color: black;
    float: left;
    line-height: 10px;
}

.whatNow {
    font-family: "kongtextregular";
    font-size: 18px;
}

.toadIcon {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: -5px;
    padding: 5px;
}

.nes-btn {
    font-family: "kongtextregular";
    font-size: 14px;
}

.cardHead {
    font-family: "terminal";
    font-size: 20px;
}